<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        
        <link rel="stylesheet" type="text/css" 
            href="register.css"/>
    </head>
    <body class="bg-dark">
        <div class="bg-secondary p-b-3">
            <div class="row">
                <h1 class="mb-3 mt-3 col-12 link-danger text-center" th:text="#{registeruser.titel}"></h1>
                <div class="col-2"></div>
                <a class="col-2 btn btn-primary p-r-5" th:href="@{?sprache=de}">DE</a>
                <div class="col-1"></div>
                <a class="col-2 btn btn-primary" th:href="@{?sprache=nl}">NL</a>
                <div class="col-1"></div>
                <a class="col-2 btn btn-primary btn" th:href="@{?sprache=en}">EN</a>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="form-group panel panel-default text-light">
            <form th:action="@{/registrieren}" th:method="post" th:object="${projektuser}">
                <h1 class="col-sm-11 mb-3 mt-3 justify-content-center text-center" th:text="#{registeruser.ihredaten}">Benutzereditor</h1>

                <div class="form-group row">
                    <label for="username" class="col-sm-4 text-right col-form-label" th:text="#{registeruser.username}">Username</label>
                    <input class="justify-content-center col-sm-3 rounded border border-light" type="text" th:field="*{username}" name="username" th:errorclass="falschEingabe">
                    <p class="col-sm-5 text-left" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red;">Name Falsch!</p>
                </div>
                
                <div class="form-group row">
                    <label for="password" class="col-sm-4 text-right col-form-label"  th:text="#{registeruser.password}">Password</label>
                    <input class="justify-content-center col-sm-3 rounded border border-light" type="password" th:field="*{password}" name="adresse" th:errorclass="falschEingabe">
                    <p class="col-sm-5 text-left" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;">Adresse Falsch!</p>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 text-center">
                            <input type="submit" class="justify-content-center btn btn-primary" th:value="#{registeruser.speichern}">
                            <a class="justify-content-center btn btn-danger" th:text="#{registeruser.abbrechen}" th:href="@{~/login}"></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>